

.signup-card {
  margin-left: 30%;
  margin-right: 30%;
  width: 50%;
  display: flex;
}

.signup-button{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.signup-input{
  flex-direction: column;

}

.signup-title{
  padding: 5px;
  text-align: center;
}

.signup-col{
  margin-top: 2.5%;
}