.createhouse-card {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  display: flex;
  padding: 30px;
}

.createhouse-button{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.createhouse-input{
  flex-direction: column;
}

.createhouse-title{
  padding: 5px;
  text-align: center;
}

.create-col{
  margin-top: 5%;
}
