.login-card {
  align-content: center;
  margin-left: 27%;
  margin-right: 33%;
  width: 40%;
  display: flex;
  padding: 30px;
  font-family: white, Arial, Helvetica, sans-serif !important
}

.login-button{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.login-input{
  flex-direction: column;
}

.login-title{
  text-align: center;
}

.space{
  margin-top: 6%;
}

 