.main-button{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.main-input{
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.grocery-inputs{
  display: flex;
  flex-direction: column;
}

.main-card{
  margin-left: 30%;
  margin-right: 30%;
  width: 30%;
  text-align: center;
}